<div>
    <h2 class="content-post-title font-bold text-4xl font-serif   ">
        <a  href="<%- config.root %><%- item.path %>">
            <%- item.title || item.link%>
        </a>
    </h2>
    <div>
        <%- item.content %>
    </div>
</div>